<div class="item">
    <label for="">Avatar URL</label>
    <div>
        <input 
            type="text" 
            name="avatar_url"
        >
    </div>
</div>
<div class="item">
    <label for="">Instrutor</label>
    <div>
        <input 
            type="text" 
            name="name"
        >
    </div>
</div>
<div class="item">
    <label for="">Data de nascimento</label>
    <div>
        <input 
            type="date" 
            name="birth" 
        >
    </div>
</div>
<div class="item">
    <label for="">Sexo</label>
    <div>
        <span><input type="radio" name="gender" checked value="M">Masculino</span>
        <span><input type="radio" name="gender" value="F">Feminino</span>
    </div>
</div>
<div class="item">
    <label for="">Área de atuação</label>
    <div>
        <input 
            type="text" 
            name="services" 
            placeholder="Separe os serviços prestados por vírgula">
    </div>
</div>
<button type="submit">Salvar</button>

<script src="/scripts.js"></script>