{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
  <a href="/instructors/create">Cadastrar</a>
  <table width="100%">
    <thead>
        <tr>
            <th>Instrutor</th>
            <th>Atendimento</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
      {% for instructor in instructors %}
      <tr>
        <td>
          <span></span>
          {{instructor.name}}
        </td>
        <td>{{instructor.services}}</td>
        <td><a href="/instructors/{{instructor.id}}">Ver</a></td>
      </tr>    
      {% endfor %}
    </tbody>
</div>
{% endblock content %}

<!-- thead é o cabeçalho -->

<!-- tr é a linha -->
<!-- th é a coluna -->

<!-- tbody é o corpo -->
<!-- td é a coluna -->

<!-- thead -->
  <!-- tr -->
  <!-- th -->
<!-- thead --> 

<!-- tbody -->
  <!-- tr -->
  <!-- td -->
<!-- tbody --> 